* {
  font-family: sans-serif;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1100;
  background-color: rgba(249, 250, 251, 0.8);
  padding: 1.8rem;
}


.header-item {

  margin-left: 1.5rem;
  gap: 2rem;
  border: 0px;
  border-radius: 50%;
  text-transform: capitalize;
}



.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  gap: 5px;

}


.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-icon>button {
  margin-right: 3rem;
  text-transform: capitalize !important;
  font-weight: 800;
}

.search-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-item {
  margin-left: 3rem;
  position: relative;
}

.searchbar {
  position: absolute;

  height: 100% !important;
  right: 10px;
}

.search-icon {
  margin-right: 3rem;
}

/* card */

.cardmap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.nodata {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.main-div {
  /* border: 2px solid; */
  width: 19rem;
  border-radius: 10%;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12)0px 12px 24px -4px;
  margin: 2rem;
  min-height: 24rem;
}

.card {
  /* border: 2px solid red; */
  width: 100%;
  position: relative;
  border-radius: 20px
}

.img-div {
  width: 100%;
  left: 2rem;
}

.image-wrapper {
  position: relative;
  width: 100%;

}

.main-img {
  width: 100%;
  right: 2rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.img-div span {
  position: absolute;
  top: 11.2rem;
  background-color: white;
  border-radius: 50%;
  left: 1.8rem;
}

.shape-div {
  position: relative;
  right: 130%;
  width: 100%;
}

.shape-avatar {

  position: absolute;
  width: 95px;
  height: 44px;
  left: 25px;
  top: -2px;
}

.avatarlogo {
  position: relative;
  top: 5px;
  background-color: #dfe2e7;
  border-radius: 50%;
}

.content-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.date-prod {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.Dates {
  margin-left: 1rem;
  margin-top: 2rem;
  font-weight: 400;
  color: #747474;
  font-size: 0.75rem;
}

.prod-name {
  margin-left: 1rem;
  font-weight: 600;
}

.social-media {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1rem 00.2rem;
  color: #919eab;
  gap: 0.5rem;
  font-size: 12px;
  margin-right: 1rem;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

}

.visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}


/* modal box */

.boxModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.mainbox {
  /* border: 2px solid black; */
  width: 50rem;
  height: 34rem;
  display: flex;
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0, 0.24);
  color: white;
}

.postimg {
  background-color: #5eb7b7;

  width: 25rem;
  /* height: 100%; */
  display: flex;
  justify-content: center;
}

.uplordphoto {
  border: 2px dashed;
  border-radius: 37px;
  height: 50%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addaphoto {
  text-align: center;
}

.h2pa {
  text-align: center;
}

.postdetail {
  background-color: #1b2a49;
  width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.formdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postheading {
  position: absolute;
  top: 3rem;
}

.post-name {
  padding: 1rem;
}

.postName {
  margin: auto;
  text-align: center;
  position: relative;
  top: 3rem;
}

.postphoto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

.postinput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.inputlabel {
  border: none;
}

.inputpost1 {
  display: block;
  width: 17rem;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  color: rgba(255, 255, 255, 0.7) !important;
  background: transparent;
  border-radius: 0;
  font-size: 18px;
}

.inputpost2 {
  display: block;
  width: 17rem;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  color: rgba(255, 255, 255, 0.7) !important;
  background: transparent;
  border-radius: 0;
  font-size: 18px;
  padding: 5px 0px;
}

.datepicker {
  position: relative;
  right: 24px;
  color: white;
}

.boxCheck {
  position: relative;
  right: 4.2rem;
  margin: 10px;
  top: 4px;
}

.btnsubmit {
  position: relative;
  top: 3rem;
  width: 100%;
  text-align: center;
}

.btnbtn {
  width: 70%;
}

.close {

  background-color: #fffcfc;
  position: absolute;
  color: black;
  top: -11px;
  right: -11px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}




@media screen and (max-width: 560px) {
  .nav-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin-left: 1rem;
  }

  .nav-icon>button {
    margin-left: 1rem;
    text-transform: capitalize !important;
    font-weight: 800;
  }

  /* search item  */

  .search-div {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    margin-top: 1rem;

  }

  .search-item {
    margin-left: 1rem;
    position: relative;

  }

  .search-icon {
    margin-right: 0.5rem;

  }
}

@media screen and (max-width: 1100px) {
  .cardmap {
    display: flex;

  }
}

@media screen and (max-width: 800px) {

  .mainbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;

  }

  .postimg {
    background-color: #5eb7b7;
    width: 100vw;
    height: 34vh;

  }


  .formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btnsubmit Button {
    margin-top: -55px;
  }

}



.home-sidebar{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: auto;
}
.sidebar-div{
  max-width: 20%;
  height: 96vh;
  /* border: 1px solid red; */
  width: 100%;
  margin-left: 20px;
}
.home-page-div{
  max-width: 100%;
  height: 100vh;
}

.manuopen-icon{
  display: none !important;
}

@media screen and (max-width:640px){
  .manuopen-icon{
    display: block !important;
  }
  .sidebar-div{
   display: none;
  }
}


